@use "@/styles/common";

$headerBgColor: #18181b;

.wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid common.$borderColor;
  background-color: $headerBgColor;
  width: 100%;
  height: common.$headerHeight;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: common.$pcContentInnerMaxWidth + common.$pcHorizontalPadding * 2;
}

.siteTitle {
  margin-right: auto;
}
