@use "@/styles/common" as *;

.container {
  border: 1px solid $borderColor;
  border-radius: 4px;

  & + & {
    margin-top: 20px;
  }
}

.wrapper {
  display: flex;
  padding: 8px;
  column-gap: 8px;
  background-color: $cardBackgroundColor;
  transition: background-color 0.2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      background-color: $hoverCardBackgroundColor;
    }
  }
}

.image {
  flex-shrink: 0;
  vertical-align: bottom;
  width: 200px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
